{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube video downloader</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header-config">
        <img src="{% static 'imgs/youtube-logo.png' %}">
        <aside class="contacts">
            <a class="a-config" href="#">Contato</a>
            <a class="a-config" href="#">Sobre</a>
        </aside>
    </header> <!-- Seção cabeçalho -->

    <section>
        <h1>Baixe vídeos e musicas do youtube</h1>
        <h3>Coloque o link logo abaixo</h3>
        <div class="input-config">
            <input type="url" name="url-youtube" id="input-youtube" placeholder="LINK...">
            <a onclick="sendTitle()" class="button-send" href="#">SEND</a>
        </div>
    </section> <!-- Primeiro seção colocando links-->

    <section class="second-section"> 
        <h1 id="titulo">titulo do video</h1>
    </section> <!-- Sgunda seção area de download -->

    <footer>&copy; Todos os direitos reservados</footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>