:root {
    --blue-darker: #0047ab;
    --dark-black: #475c6c;
    --dark-red: #e85160;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: "Poetsen";
    src: url("../fonts/PoetsenOne-Regular.ttf");
}

main {
    height: 100dvh;
}

.pink-bg {
    background-color: var(--dark-red);
}

.blue-font {
    color: var(--blue-darker);
    font-family: "Poetsen";
}

.btn-larger {
    padding: 0.3rem 15rem !important;
}

header a {
    color: white !important;
}

header a:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

footer a {
    color: var(--dark-black);
}

.center-itens {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5 url("../imgs/yt-bg.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 991.98px) {
    .btn-larger {
        padding: 0.3rem 10rem !important;
    }
}

@media (max-width: 575.98px) {
    .btn-larger {
        padding: 0.3rem 6rem !important;
    }
}
