/*Configuração geral*/
:root {
    --main-primary-color: #304ee4;
    --main-secondary-color: #ee82bf;
    --main-accent-color: #e85160;
    --main-bg-color: #f3f5fd;
    --main-text-color: #03081a;
}

body {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
/*Fonts customizadas*/
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Bowlby";
    src: url("../fonts/BowlbyOneSC-Regular.ttf");
}

/*Principal section*/

h1,
.h1-style {
    font-family: "Oswald";
}

/*Header config*/

.bg-secondary-color {
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
}

.link-color a {
    color: var(--main-bg-color);
}

/*Download style*/

.txt-deco {
    cursor: pointer;
    position: relative;
}

.txt-deco:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 0;
    background: var(--main-primary-color);
    border-radius: 50px;
    transition: width 0.3s ease;
}

.txt-deco:hover:before {
    width: 100%;
}

.fs-bowb {
    font-family: "Bowlby";
}

.color-primary {
    color: var(--main-primary-color);
}

.bg-yt {
    height: 30rem;
    background-image: url("../img/yt-border.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
