.ff-display {
    font-family: cursive, normal;
}

.bg-red {
    background: #d61c59;
}

@media (max-width: 575.98px) {
    .fs-sm {
        font-size: 0.9rem;
    }
    .fs-md {
        font-size: 1.2rem;
        padding-top: 0.7rem;
    }
}

/* SEÇÃO 1 donwload area*/
.bg-black-2 {
    background: #360745;
}
